<h2 align="center">Title: <%= @article.title %></h2>
<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-8 col-4">
			<div class="card text-center shadow mb-5 bg-white rounded">
				<div class="card-header font-italic">
					by KomalDevi
				</div>
				<div class="card-body">
          <div class="card-text text-left"><%= simple_format(@article.description) %></div>
          <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
          <%= link_to "Delete this article", article_path(@article),method: :delete,data: {confirm: "Are you sure?"},class: "btn btn-xs btn-danger" %>
        </div>
        <div class="card-header font-italic">
          <%= time_ago_in_words(@article.created_at) %> Ago, Edited <%= time_ago_in_words(@article.updated_at) %> Ago
        </div>
			</div>
		</div>
	</div>
</div>
